.languageSelector {
    $size: 63px;

    cursor: pointer;
    user-select: none;

    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: $size;
    height: $size;
    border: 1.44px solid #37a8f333;
    border-radius: 45px;

    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #0e001a80;
    text-align: left;

    background-color: #cfeafc00;

    transition:
        border-radius 0.2s ease,
        background-color 0.2s ease,
        border-color 0.2s ease;

    &.active {
        border-color: #37a8f300;
        border-radius: 5px;
        background-color: #cfeafc;
    }

    @media (width <= 520px) {
        $size: 53px;

        width: $size;
        height: $size;
    }
}

.flagContainer {
    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: space-between;

    &:last-of-type {
        border-bottom: none;
    }

    img {
        $size: 23px;

        width: $size;
        height: $size;

        @media (width <= 520px) {
            $size: 18px;

            width: $size;
            height: $size;
        }
    }
}

.dropDown {
    pointer-events: none;
    cursor: auto;

    position: absolute;
    z-index: 10;
    top: calc(100% + 6px);
    right: 0;

    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    max-height: 0;
    padding: 14px 20px;
    border-radius: 5px;

    opacity: 0;
    background-color: #fff;
    box-shadow: 0 5px 31px 0 #0000001a;

    transition:
        max-height 0.5s ease,
        opacity 0.2s ease;

    &.active {
        pointer-events: all;
        max-height: 1000px;
        opacity: 1;
    }

    .flagContainer {
        cursor: pointer;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cfeafc;

        &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}
