.footer {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    align-items: center;

    @media (width <= 520px) {
        row-gap: 20px;
        margin-top: 0;
    }
}

.top {
    &:not(.bigFooterContainer) {
        display: contents;
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 100%;
}

.mainButton {
    flex-grow: 1;
    width: 100%;
    font-weight: 500;

    &:disabled {
        img {
            filter: invert(1);
        }
    }

    @media (width <= 520px) {
        img {
            width: 19px;
            height: 19px;
        }
    }
}

.cancelButton {
    flex-grow: 1;
    width: 100%;
    font-weight: 500;
}

.payeeData {
    display: flex;
    flex-direction: column;
    gap: 15px;

    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    padding: 15px 25px;
    border: 1px solid #010f1833;

    @media (width <= 520px) {
        gap: 5px;
        margin-top: 10px;
        padding: 10px 15px;
    }
}

.bigFooterContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;

    .payeeData {
        border-radius: 5px;
    }

    @media (width <= 520px) {
        row-gap: 0;
    }
}
