// :root {
//     --color-primary: #37a8f3;
//     --color-primary-light: #6fc0f6;
//     --color-text: #010f18;
//     --color-error: #b10e0e;
// }

:root {
    --color-primary: #37a8f3; /* основной акцент */
    --color-primary-dark: #0c78c0; /* акцент потемнее */
    --color-primary-darkest: #095a90; /* еще темнее */
    --color-primary-light: #6fc0f6; /* светлый акцент */
    --color-primary-lightest: #9fd5f9; /* очень светлый акцент */
    --color-primary-bg: #cfeafc; /* фоновые заливки под бренд */
    --color-primary-bg-alt: #e7f5fe; /* альтернативный фон */

    /* Neutral / Text */
    --color-text: #010f18; /* основной текст */
    --color-text-dark: #031e30; /* вторичный текст */
    --color-text-muted: #063c60; /* приглушённый */

    /* States */
    --color-link: #3fabf3;
    --color-error: #ea4444;
}
