include:
  - project: gitlab/pipelines
    ref: master
    file:
      - build.yml
      - deploy.yml

variables:
  PROJECT_NAME:   ${PROJECT_NAME}
  PROJECT_DIR:    ${PROJECT_DIR}
  WORK_DIR:       ${PROJECT_DIR}/${PROJECT_NAME}
  IMAGE_NAME:     ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

stages:
  - build
  - deploy


### build

build-develop:
  extends: .pre-build
  variables:
    ENVIRONMENT:   develop
    IMAGE_TAG:     develop
    APP_CONFIG:    ${BF_DEVELOP_APP_CONFIG}
  only:
    refs:
      - develop

build-master-blowfish:
  extends: .pre-build
  variables:
    ENVIRONMENT:   master
    IMAGE_TAG:     master-blowfish
    APP_CONFIG:    ${BF_MASTER_APP_CONFIG}
  only:
    refs:
      - master

build-master-noname:
  extends: .pre-build
  variables:
    ENVIRONMENT:   master
    IMAGE_TAG:     master-noname
    APP_CONFIG:    ${NN_MASTER_APP_CONFIG}
  only:
    refs:
      - master

build-production-blowfish:
  extends: .pre-build
  variables:
    ENVIRONMENT:   production
    IMAGE_TAG:     ${CI_COMMIT_TAG}-blowfish
    APP_CONFIG:    ${BF_PRODUCTION_APP_CONFIG}
  only:
    - tags
  except:
    - branches

build-production-noname:
  extends: .pre-build
  variables:
    ENVIRONMENT:   production
    IMAGE_TAG:     ${CI_COMMIT_TAG}-noname
    APP_CONFIG:    ${NN_PRODUCTION_APP_CONFIG}
  only:
    - tags
  except:
    - branches    


### deploy

deploy-develop:
  extends: .pre-deploy
  variables:
    ENVIRONMENT:       develop
    IMAGE_TAG:         develop
    APP_CONFIG:        ${BF_DEVELOP_APP_CONFIG}
    SSH_HOST:          ${BF_DEVELOP_SSH_HOST}
    SSH_PRIVATE_KEY:   ${BF_DEVELOP_SSH_PRIVATE_KEY}
  only:
    refs:
      - develop
  needs:
    - build-develop

deploy-master-blowfish:
  extends: .pre-deploy
  variables:
    ENVIRONMENT:       master
    IMAGE_TAG:         master-blowfish
    APP_CONFIG:        ${BF_MASTER_APP_CONFIG}
    SSH_HOST:          ${BF_MASTER_SSH_HOST}
    SSH_PRIVATE_KEY:   ${BF_MASTER_SSH_PRIVATE_KEY}
  only:
    refs:
      - master
  needs:
    - build-master-blowfish

deploy-master-noname:
  extends: .pre-deploy
  variables:
    ENVIRONMENT:       master
    IMAGE_TAG:         master-noname
    APP_CONFIG:        ${NN_MASTER_APP_CONFIG}
    SSH_HOST:          ${NN_MASTER_SSH_HOST}
    SSH_PRIVATE_KEY:   ${NN_MASTER_SSH_PRIVATE_KEY}
  only:
    refs:
      - master
  needs:
    - build-master-noname

deploy-production-blowfish:
  extends: .pre-deploy
  variables:
    ENVIRONMENT:       production
    IMAGE_TAG:         ${CI_COMMIT_TAG}-blowfish
    APP_CONFIG:        ${BF_PRODUCTION_APP_CONFIG}
    SSH_HOST:          ${BF_PRODUCTION_SSH_HOST}
    SSH_PRIVATE_KEY:   ${BF_PRODUCTION_SSH_PRIVATE_KEY}
  only:
    - tags
  except:
    - branches
  needs:
    - build-production-blowfish
  when: manual

deploy-production-noname:
  extends: .pre-deploy
  variables:
    ENVIRONMENT:       production
    IMAGE_TAG:         ${CI_COMMIT_TAG}-noname
    APP_CONFIG:        ${NN_PRODUCTION_APP_CONFIG}
    SSH_HOST:          ${NN_PRODUCTION_SSH_HOST}
    SSH_PRIVATE_KEY:   ${NN_PRODUCTION_SSH_PRIVATE_KEY}
  only:
    - tags
  except:
    - branches
  needs:
    - build-production-noname
  when: manual
