.payeeInfoContainer {
    display: inline-flex;
    gap: 7px;
    align-items: center;
    align-self: flex-start;

    font-size: 20px;
    font-weight: 400;
    line-height: 133%;

    // a {
    //     color: #37a8f3;
    //     text-decoration-style: solid;
    //     text-underline-offset: 0.25em;
    //     opacity: 0.7;
    // }

    // .payee-container {
    //     position: relative;
    // }

    // margin-bottom: 21px;

    @media (width <= 520px) {
        // margin-bottom: 15px;
        font-size: 14px;

        img {
            width: 18px;
            height: 18px;
        }
    }
}
