.ul {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 7px;
    row-gap: 0;

    box-sizing: border-box;
    width: 100%;
    max-height: 0;
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 18.69px;
    color: #010f18;
    list-style-type: none;

    transition: max-height 0.2s ease-out;

    @media (width <= 520px) {
        gap: 5px;
    }
}

.active {
    max-height: 500px;
    transition: max-height 0.5s ease-out 0.2s;
}

.li {
    row-gap: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 18.69px;
    color: #010f18;
}

.span {
    font-weight: 400;
    color: #37a8f3;
}
