.title {
    user-select: none;
    display: inline-flex;
    column-gap: 4px;
}

.p {
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    line-height: 18.69px;
    color: #010f18;

    transition: color 0.3s ease-in-out;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.arrow {
    transition: rotate 0.3s ease-in-out;
}

.accordionContainerUl {
    overflow-y: hidden;
    max-height: 0;
    margin: 0;
    transition: max-height 0.2s ease-out;
}

.accordionContainer {
    ul,
    li {
        row-gap: 0;

        font-size: 14px;
        font-weight: 400;
        line-height: 18.69px;
        color: #010f18;

        span {
            font-weight: 400;
            color: #37a8f3;
        }
    }

    &.active {
        .title {
            .p {
                color: #37a8f3;
            }

            .arrow {
                transform: rotate(180deg);
            }
        }

        .accordionContainerUl {
            max-height: 500px;
            transition: max-height 0.5s ease-out 0.2s;
        }
    }
}
