.title {
    user-select: none;
    display: inline-flex;
    column-gap: 4px;
    align-items: center;
}

.p {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.arrow {
    transition: rotate 0.3s ease-in-out;
}

.arrowActive {
    transform: rotate(180deg);
}
