.title {
    user-select: none;
    display: inline-flex;
    column-gap: 4px;
    align-items: center;
}

.p {
    cursor: pointer;

    font-size: 14px !important;
    font-weight: 400;
    line-height: 18.69px;
    color: #010f18;

    transition: color 0.3s ease-in-out;
}

.pActive {
    color: #37a8f3;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.arrow {
    transition: rotate 0.3s ease-in-out;
}

.arrowActive {
    transform: rotate(180deg);
}
