.walletImageContainer {
    position: relative;
    height: auto;

    img {
        height: 100%;
    }

    @media (width >= 745px) {
        height: 288px;
    }

    @media (width <= 520px) {
        height: 200px;
    }
}

.margins {
    margin: 30px 0;
}

.walletImageContainer::before {
    $width: 43%;

    content: "";

    position: absolute;
    z-index: -1;
    top: 17%;
    right: 6%;

    width: $width;
    height: $width;
    border-radius: 500px;

    background-color: #6fc0f6;
    filter: blur(71px);

    @media (width <= 520px) {
        filter: blur(45px);
    }
}
