.label {
    opacity: 0.5;
}

.default {
    color: var(--color-text);
}

// Font size
.sm {
    font: var(--font-xxs);
}

.md {
    font: var(--font-xs);
}

// Font weight
.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}
