.input {
    background: none;
    border: none;
    color: var(--color-text);
    // opacity: 0.3;
    font-weight: 400;
    text-align: left;
    outline: none;
    flex-grow: 1;
    box-sizing: border-box;
    font-family: Inter;

    &:focus {
        outline: 1px solid #6fc0f6ff;
    }
}

.bgwhite {
    background-color: white !important;
}

@mixin textSize($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;

    &::placeholder {
        font-size: $size;
        line-height: $lineHeight;
        font-weight: 500;
        opacity: 0.2;
        color: var(--color-text);
    }
}

.textSm {
    @include textSize(20px, 133%);

    @media (max-width: 520px) {
        @include textSize(14px, 21.36px);
    }
}

.textMd {
    @include textSize(20px, 133%);

    @media (max-width: 520px) {
        @include textSize(14px, 21.36px);
    }
}

.textLg {
    @include textSize(28px, 133%);

    @media (max-width: 520px) {
        @include textSize(16px, 26.6px);
    }
}
