.input {
    background: none;
    border: none;
    color: var(--color-text);
    opacity: 0.3;
    font-size: 20px;
    font-weight: 400;
    line-height: 133%;
    text-align: left;
    outline: none;
    flex-grow: 1;
    box-sizing: border-box;
    font-family: Inter;

    &:focus {
        outline: 1px solid #6fc0f6ff;
    }

    &::placeholder {
        font-size: 20px;
        font-weight: 500;
        line-height: 26.7px;
        opacity: 0.2;
        color: var(--color-text);
        @media (max-width: 520px) {
            font-size: 14px;
            line-height: 21.36px;
        }
    }

    @media (max-width: 520px) {
        font-size: 14px;
        line-height: 21.36px;

        &::placeholder {
            font-size: 14px;
            line-height: 21.36px;
        }
    }
}

.bg-white {
    background-color: white;
}
