.title {
    color: var(--text-redesigned);
}

.error {
    .title {
        color: var(--red-light);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_m {
    .title {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        color: #010f18;
        text-wrap: balance;

        @media (width <= 520px) {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.size_l {
    .title {
        font-size: 32px;
        font-weight: 600;
        line-height: 133%;
        color: #010f18;
        text-wrap: balance;

        &.grow {
            flex-grow: 0.3;
        }

        @media (width <= 520px) {
            font-size: 22px;
            line-height: 32px;
        }
    }
}

.grow {
    .title {
        flex-grow: 0.3;
    }
}

.bold {
    .title {
        font-weight: 700;
    }
}

// .dropZoneText {
//     color: #6fc0f6;
// }

// .amount {
//     min-width: 1ch;
//     border: none;

//     font-family: inherit;
//     font-size: 46px;
//     font-weight: 600;
//     line-height: 130%;
//     color: #37a8f3;
//     text-align: right;
//     white-space: nowrap;

//     background: none;
//     outline: none;

//     @media (width <= 520px) {
//         font-size: 32px;
//     }
// }

// .p {
//     cursor: pointer;

//     font-size: 14px !important;
//     font-weight: 400;
//     line-height: 18.69px;
//     color: #010f18;

//     transition: color 0.3s ease-in-out;
// }

// .statusComment {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 133%;
//     color: #010f18;

//     opacity: 0.5;

//     @media (width <= 520px) {
//         font-size: 14px;
//     }
// }

// .statusComment {
//     margin-top: 21px;

//     font-size: 20px !important;
//     font-weight: 400 !important;
//     line-height: 133% !important;
//     color: #010f18 !important;

//     opacity: 0.5;

//     @media (width <= 520px) {
//         margin-top: 15px;
//         font-size: 14px;
//     }
// }

// .errorMessage {
//     width: 100%;

//     font-size: 12px !important;
//     color: rgb(177 14 14) !important;
//     text-align: left;
//     overflow-wrap: break-word;
// }

// .p {
//     font-size: 31px;
//     font-weight: 600;
//     line-height: 133%;
//     color: #010f18;
//     white-space: nowrap;

//     opacity: 0.5;

//     @media (width <= 650px) {
//         font-size: clamp(18px, 3.5vw, 31px);
//     }

//     @media (width <= 520px) {
//         font-size: 22px;
//     }
// }

// .statusText {
//     font-weight: 400;
// }

// .statusComment {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 133%;
//     color: #010f18;

//     opacity: 0.5;

//     @media (width <= 520px) {
//         font-size: 14px;
//     }
// }

// .text {
//     /* font-size: 30px;
//     line-height: 40px; */
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 30px;
//     text-align: justify;

//     @media (width <= 520px) {
//         /* font-size: 16px;
//         line-height: 21px; */
//         font-size: 16px;
//         line-height: 22px;
//         text-align: justify;
//     }
// }

// .errorMessage {
//     width: 100%;

//     font-size: 12px !important;
//     color: rgb(177 14 14) !important;
//     text-align: left;
//     overflow-wrap: break-word;
// }

// p {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 133%;
//     color: #010f18;
//     text-wrap: balance;

//     @media (width <= 520px) {
//         font-size: 14px;
//     }
// }
