.progressContainer {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;

    @media (width <= 520px) {
        gap: 15px;
    }
}

.progressSteps {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 34px;
    justify-content: center;

    width: 100%;

    @media (width <= 520px) {
        gap: 24px;
    }
}

.step {
    $width: 63px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: $width;
    height: $width;
    border-radius: 50%;

    font-size: 26px;
    font-weight: 400;
    line-height: 133%;
    color: #010f1880;

    background-color: #e7f5fe;

    transition:
        color 0.5s ease,
        background-color 0.5s ease;

    &::before {
        content: "";

        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;

        width: 150%;
        height: 3px;

        background-color: #e7f5fe;

        transition: background-color 0.5s ease;
    }

    &:last-of-type::before {
        display: none;
    }

    &.active,
    &.active::before {
        color: white;
        background-color: #37a8f3;
    }

    @media (width <= 520px) {
        $width: 44px;

        width: $width;
        height: $width;
        font-size: 18px;
    }
}

.status {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @media (width <= 520px) {
        gap: 10px;
    }
}

.top {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    font-size: 23px;
    line-height: 100%;
    color: #010f18;

    @media (width <= 520px) {
        gap: 8px;
    }
}

.timer {
    font-weight: 600;

    @media (width <= 520px) {
        font-size: 16px;
    }
}

.statusText {
    font-weight: 400;
}

.statusComment {
    font-size: 20px;
    font-weight: 400;
    line-height: 133%;
    color: #010f18;

    opacity: 0.5;

    @media (width <= 520px) {
        font-size: 14px;
    }
}
