.description {
    display: flex;
    flex-direction: column;
    gap: 14px;

    max-width: 416px;
    margin-bottom: 35px;

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 133%;
        color: #010f18;
        text-wrap: balance;

        @media (width <= 520px) {
            font-size: 14px;
        }
    }
}

.lowMb {
    margin-bottom: 45px;

    @media (width <= 520px) {
        margin-bottom: 25px;
    }
}

.lowMt {
    margin-top: 45px;

    @media (width <= 520px) {
        margin-top: 25px;
    }
}

.grow {
    flex-grow: 0.5;
}
