.searchPayMethod {
    display: inline-flex;
    gap: 7px;

    padding: 13px 14px;
    border-radius: 5px;

    background-color: #f5f5f5;

    @media (width <= 520px) {
        padding: 10px 9px;
    }
}
