.popup {
    pointer-events: none;

    position: absolute;
    top: -100%;
    left: 0;

    display: inline-flex;
    gap: 1.5rem;
    align-items: center;

    padding: 2rem;

    opacity: 0;
    background-color: white;
    box-shadow: 0 5px 31px 0 #0000001a;

    transition: opacity 0.5s ease;
}

.active {
    opacity: 1;
}

.payeeDataItem {
    position: relative;

    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    justify-content: space-between;

    padding: 0.7rem;
    padding-right: 2.2rem;
    border-radius: 5px;

    background-color: #f5f5f5;

    &.dark {
        background-color: var(--color-primary-bg-alt);
    }
}

.iconContainer {
    $size: 5.6rem;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: $size;
    height: $size;
    border-radius: 5px;

    background-color: #fff;
}

.textContainer {
    flex-grow: 1;
    text-align: left;

    p {
        opacity: 0.35;
    }
}

.copy {
    justify-content: flex-end;
}

.img {
    $size: 2.8rem;

    width: $size;
    height: $size;

    &.logo {
        scale: 1.25;
    }
}
