.pay-header {
    display: inline-flex;
    gap: 7.33px;
    place-content: center space-between;
    align-items: center;

    width: 100%;
    border-bottom: solid #00000014 2px;

    h1 {
        font-size: 32px;
        line-height: 43px;
        text-align: left;
        text-wrap: balance;

        span {
            color: #37a8f3;
        }

        @media (width <= 520px) {
            font-size: 22px;
            line-height: 29px;
        }
    }

    img {
        $width: 34px;

        width: $width;
        height: $width;
    }

    &.grow {
        flex-grow: 0.3;
    }

    &.wide {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        text-align: left;
    }

    &.center {
        flex-direction: column;
        justify-content: center;
    }

    .amount {
        font-family: Inter;
        font-size: 46px;
        font-weight: 600;

        // line-height: 61.41px;
        line-height: 130%;

        // text-align: right;

        color: #37a8f3;
        white-space: nowrap;

        @media (width <= 520px) {
            font-size: 36px;
        }
    }

    .deadline-container {
        gap: 8px;
        padding: 4px 10px;
        border-radius: 63px;
        background-color: #e7f5fe;

        .deadline-timer {
            min-width: 80px;
            font-size: 26px;
            line-height: 34px;

            @media (width <= 520px) {
                min-width: 55px;
                font-size: 18px;
                line-height: 24px;
            }
        }

        img {
            $size: 28px;

            width: $size;
            height: $size;

            @media (width <= 520px) {
                $size: 20px;

                width: $size;
                height: $size;
            }
        }

        @media (width <= 520px) {
            gap: 4px;
        }
    }

    @media (width <= 520px) {
        gap: 4px;

        img {
            $width: 24px;

            width: $width;
            height: $width;
        }
    }
}
