.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    width: 600px;
    max-width: 100%;
    min-height: 100dvh;
    margin: 0 72px;
    padding: 40px 0 20px;

    @media (width <= 520px) {
        gap: 20px;
        justify-content: space-between;

        max-height: unset;
        margin: 0;
        padding: 15px;
    }
}
