.externalPayInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 1rem;
}

.description {
    max-width: 80%;
}

.link {
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #37a8f3;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    color: white;
    text-decoration: none;

    @media (max-width: 520px) {
        padding: 0.5rem 1rem;
        align-self: stretch;
    }
}
