.toastCloseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 45px;
    font-size: 16px !important;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #010f18;
    cursor: pointer;
    font-family: Inter;
}
