.instructionsNew {
    box-sizing: border-box;
    width: 100%;

    font-size: 21px;
    font-weight: 400;
    line-height: 133%;
    text-align: left;

    @media (width <= 520px) {
        display: flex;
        flex-grow: 0.5;
        align-items: flex-end;
        font-size: 15px;
    }
}

.transgran {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;

    padding: 10px 0;
}
