.instructions_new {
    width: 100%;

    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 133%;
    text-align: left;
    box-sizing: border-box;

    @media (max-width: 520px) {
        font-size: 15px;
        flex-grow: 0.5;
        display: flex;
        align-items: flex-end;
    }
}

.transgran {
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
}
