/* stylelint-disable selector-class-pattern */
html,
body {
    margin: 0;

    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

p,
h1,
h2,
h3 {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100dvh;

    font-family: Inter, sans-serif;
    line-height: 133%;
    text-align: center;

    @media (width <= 520px) {
        align-items: stretch;
    }
}

#root {
    display: contents;
}

input,
textarea,
button {
    outline: none;
    caret-color: #37a8f3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    width: 600px;
    max-width: 100%;
    min-height: 100dvh;
    margin: 0 72px;
    padding: 40px 0 20px;

    @media (width <= 520px) {
        gap: 20px;
        justify-content: space-between;

        max-height: unset;
        margin: 0;
        padding: 15px;
    }
}

.Toastify {
    .Toastify__toast-container {
        top: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        box-sizing: border-box;
        width: 100%;
        width: 630px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        .Toastify__toast {
            gap: 12px;

            margin-bottom: 0;
            padding: 15px;
            border-radius: 5px;

            font-size: 17px;
            font-weight: 600;
            line-height: 23px;
            color: #fff;

            background-color: #ea4444;
            box-shadow:
                0 1.34px 1.59px 0 #00000002,
                0 3.03px 3.62px 0 #00000004,
                0 5.28px 6.31px 0 #00000004,
                0 8.39px 10.02px 0 #00000005,
                0 12.94px 15.46px 0 #00000006,
                0 20.2px 24.12px 0 #00000007,
                0 33.53px 40.04px 0 #00000008,
                0 67px 80px 0 #0000000a;

            .Toastify__toast-body {
                padding: 0;
            }

            @media (width <= 520px) {
                flex-direction: column;
                align-items: stretch;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}

.content {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    margin-top: 29px;

    .description {
        display: flex;
        flex-direction: column;
        gap: 14px;

        max-width: 416px;

        // margin-bottom: 81px;
        margin-bottom: 35px;

        &.grow {
            flex-grow: 0.5;
        }
    }

    .low-mb {
        margin-bottom: 45px;

        @media (width <= 520px) {
            margin-bottom: 25px;
        }
    }

    .low-mt {
        margin-top: 45px;

        @media (width <= 520px) {
            margin-top: 25px;
        }
    }

    h1 {
        // line-height: 42.72px;
        margin: 0;

        font-size: 32px;
        font-weight: 600;
        line-height: 133%;
        color: #010f18;
        text-wrap: balance;

        &.grow {
            flex-grow: 0.3;
        }

        @media (width <= 520px) {
            font-size: 22px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 133%;
        color: #010f18;
        text-wrap: balance;

        @media (width <= 520px) {
            font-size: 14px;
        }
    }

    .header-container {
        display: inline-flex;
        gap: 7.33px;
        align-content: center;
        align-items: center;

        img {
            $width: 34px;

            width: $width;
            height: $width;
        }

        &.grow {
            flex-grow: 0.3;
        }

        &.wide {
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            text-align: left;
        }

        &.center {
            flex-direction: column;
            justify-content: center;
        }

        .amount {
            font-family: Inter, sans-serif;
            font-size: 46px;
            font-weight: 600;

            // line-height: 61.41px;
            line-height: 130%;

            // text-align: right;

            color: #37a8f3;
            white-space: nowrap;

            @media (width <= 520px) {
                font-size: 36px;
            }
        }

        .instructions.small {
            align-items: flex-start;
            margin: 0;
            text-align: center;
        }

        @media (width <= 520px) {
            gap: 4px;

            img {
                $width: 24px;

                width: $width;
                height: $width;
            }
        }
    }

    .error-image {
        margin-bottom: 35px;

        @media (width <= 520px) {
            $width: 116px;

            width: $width;
            height: $width;
            margin-bottom: 25px;
        }
    }

    .deadline-container {
        display: inline-flex;
        gap: 8px;
        align-items: center;
        width: 150px;

        .deadline-timer {
            width: 100px;

            font-size: 32px;
            font-weight: 600;
            line-height: 133%;
            color: #37a8f3;

            @media (width <= 520px) {
                font-size: 22px;
            }
        }

        @media (width <= 520px) {
            img {
                $width: 20px;

                width: $width;
                height: $width;
            }
        }
    }

    .drop-zone {
        --percent: 0;

        cursor: pointer;
        user-select: none;

        position: relative;

        overflow: hidden;
        display: inline-flex;
        gap: 15px;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: 100%;
        height: 131px;
        padding: 20px; // 20px;
        border: 2px dashed #6fc0f6;
        border-radius: 5px;

        font-size: 20px;
        font-weight: 400;
        line-height: 133%;
        text-align: left;

        &::before {
            content: "";

            position: absolute;
            z-index: -1;
            inset: 0;
            translate: -100%;
            translate: calc(-100% + var(--percent) * 100%);

            background-color: #cfeafc;

            transition: translate 0.5s ease;
        }

        &.active {
            border-style: solid;

            .file-icon {
                display: none;
            }

            .dropZoneText {
                display: none;
            }

            .dropZoneProgressText {
                display: inherit;
            }
        }

        &.done {
            cursor: auto;
            border: none;

            .file-icon {
                display: none;
            }

            .dropZoneFile {
                display: inline-flex;
            }

            .dropZoneText {
                display: none;
            }
        }

        @media (width <= 520px) {
            gap: 12px;
            height: 75px;
            padding: 10px; // 10px;
            font-size: 14px;

            img {
                $width: 18px;

                width: $width;
                height: $width;
            }
        }
    }

    @media (width <= 520px) {
        flex-grow: 1;
        margin-top: 0;
    }
}
