.popup {
    pointer-events: none;

    position: absolute;
    top: -100%;
    left: 0;

    display: inline-flex;
    gap: 15px;
    align-items: center;

    padding: 20px;

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
    color: #010f18;

    opacity: 0;
    background-color: white;
    box-shadow: 0 5px 31px 0 #0000001a;

    transition: opacity 0.5s ease;

    @media (width <= 520px) {
        gap: 10px;
        padding: 15px;
        font-size: 14px;
    }
}

.active {
    opacity: 1;
}
