.popup {
    pointer-events: none;

    position: absolute;
    top: -100%;
    left: 0;

    display: inline-flex;
    gap: 15px;
    align-items: center;

    padding: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
    color: #010f18;

    opacity: 0;
    background-color: white;
    box-shadow: 0 5px 31px 0 #0000001a;

    transition: opacity 0.5s ease;

    @media (width <= 520px) {
        gap: 10px;
        padding: 15px;
        font-size: 14px;
    }
}

.active {
    opacity: 1;
}

.payeeDataItem {
    position: relative;

    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: space-between;

    padding: 7px;
    padding-right: 22px;
    border-radius: 5px;

    color: #010f18;

    background-color: #f5f5f5;

    &.dark {
        background-color: #e7f5fe;
    }

    .iconContainer {
        $size: 56px;

        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        width: $size;
        height: $size;
        border-radius: 5px;

        background-color: #fff;

        img {
            $size: 24px;

            width: $size;
            height: $size;

            &.logo {
                scale: 1.25;
            }

            @media (width <= 520px) {
                $size: 20px;

                width: $size;
                height: $size;
            }
        }

        @media (width <= 520px) {
            $size: 34px;

            width: $size;
            height: $size;
        }
    }

    .textContainer {
        flex-grow: 1;
        text-align: left;

        label {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            opacity: 0.5;

            @media (width <= 520px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            opacity: 0.35;

            @media (width <= 520px) {
                font-size: 11px;
                line-height: 13px;
            }
        }

        .value {
            font-size: 26px;
            font-weight: 600;
            line-height: 35px;

            @media (width <= 520px) {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    .copy {
        cursor: pointer;
        border: none;
        background-color: transparent;

        img {
            $size: 24px;

            width: $size;
            height: $size;

            @media (width <= 520px) {
                $size: 20px;

                width: $size;
                height: $size;
            }
        }
    }
}
