/* Базовый стиль */
.button {
    cursor: pointer;
    user-select: none;

    display: inline-flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 1.4rem;
    align-items: center;
    justify-content: center;

    padding: 2.8rem;
    border: none;
    border-radius: 0.5rem;

    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 133%;

    background: #e7f5fe;

    transition:
        opacity 0.3s ease,
        background-color 0.3s ease,
        color 0.3s ease;

    img {
        width: 2.7rem;
        height: 2.7rem;
    }

    &:disabled {
        pointer-events: none;
        color: #010f18;
        opacity: 0.3;
        background-color: #bebebe;

        img {
            filter: invert(1);
        }
    }

    &__loading {
        pointer-events: none;
        position: relative;

        &::after {
            content: "";

            // position: absolute;
            inset: 0;

            width: 1.6rem;
            height: 1.6rem;
            margin: auto;
            border: 4px solid transparent;
            border-top-color: currentcolor;
            border-radius: 50%;

            animation: button-loading-spinner 1s ease infinite;
        }
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Варианты */
.btnPrimary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.btnWarning {
    // color: var(--color-warning);
    background-color: var(--color-warning-light);
}

.btnDanger {
    color: var(--color-error-light);
    background-color: #fbe5e5;
}

.btnDangerSolid {
    color: var(--color-white);
    background-color: var(--color-error-light);
}

.btnOutline {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
}

.btnGhost {
    width: auto;
    color: var(--color-primary);
    background-color: transparent;
}

/* Размеры */
.btnSmall {
    padding: 1rem 1.6rem;
    font: var(--font-xxs);
}

.btnMedium {
    padding: 1.4rem 1.8rem;
    font: var(--font-2xs);
}

.btnLarge {
    padding: 2rem 2.4rem;
    font: var(--font-2xs);
}

.btnXl {
    padding: 2.8rem 3.2rem;
    font: var(--font-xs);
}

.btnGhostDanger {
    color: var(--color-error-light);
    background-color: transparent;
}
