/* Базовый стиль */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 14px;
    padding: 28px;
    border: none;
    border-radius: 5px;
    background: #e7f5fe;
    font-weight: 500;
    line-height: 133%;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;

    transition:
        opacity 0.3s ease,
        background-color 0.3s ease,
        color 0.3s ease;

    img {
        width: 27px;
        height: 27px;
    }

    @media (max-width: 520px) {
        font-size: 14px;
        padding: 20px 10px;
        border-radius: 3px;

        img {
            width: 19px;
            height: 19px;
        }
    }

    &:disabled {
        background-color: #bebebe;
        opacity: 0.3;
        pointer-events: none;
        color: #010f18;

        img {
            filter: invert(1);
        }
    }

    &__loading {
        pointer-events: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 4px solid transparent;
            border-top-color: currentColor;
            border-radius: 50%;
            animation: button-loading-spinner 1s ease infinite;
        }
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

/* Варианты */
.btn--primary {
    background-color: #37a8f3;
    color: #fff;
    font-size: 20px;
}

.btn--danger {
    background-color: #fbe5e5;
    color: #ea4444;
    font-size: 20px;
}

.btn--danger-solid {
    background-color: #ea4444;
    color: #fff;
    font-size: 20px;
}

.btn--outline {
    background-color: transparent;
    border: 2px solid #37a8f3;
    color: #37a8f3;
    font-size: 20px;
}

.btn--ghost {
    background-color: transparent;
    color: #37a8f3;
    font-size: 17px;
    line-height: 17px;
    width: auto;

    &:disabled {
        color: #bebebe;
    }
}

.btn--secondary {
    background-color: #d9d9d9;
    color: #000;
    font-size: 20px;
}

/* Размеры */
.btn--small {
    padding: 10px 16px;
    font-size: 14px;
}

.btn--large {
    padding: 20px 24px;
    font-size: 18px;
}

.btn--xl {
    padding: 28px 32px;
    font-size: 20px;
}
