services:
  pnp-frontend:
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    build:
      context: ../
      dockerfile: docker/Dockerfile
      network: host
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_SUPPORT_LINK: ${VITE_SUPPORT_LINK}
        VITE_DISPUT_CHAT: ${VITE_DISPUT_CHAT}
        VITE_YMETRICS_COUNTER: ${VITE_YMETRICS_COUNTER}
    container_name: ${COMPOSE_PROJECT_NAME}
    hostname: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file: ./../.env
    labels:
      - metrics_tenant=blowfish
      - compose_project_name=${COMPOSE_PROJECT_NAME}

networks:
  default:
    external: true
    name: blowfish-network
