services:
  pnp-frontend:
    image: ${IMAGE_NAME}:${IMAGE_TAG}
    build:
      context: ../
      dockerfile: docker/Dockerfile
      network: host
      args:
        VITE_API_URL: ${VITE_API_URL}
    container_name: ${COMPOSE_PROJECT_NAME}
    hostname: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file: ./../.env
