.bank_item {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 12px;
    row-gap: 0;

    align-items: center;

    color: #010f18;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    cursor: pointer;

    padding: 10.5px 14px;
    flex-wrap: wrap;

    @media (max-width: 520px) {
        gap: 8px;
        row-gap: 0;
        padding: 10px;
    }
}

.active {
    background-color: #d7d7d7;
}

.img {
    $width: 24px;
    width: $width;
    height: $width;

    @media (max-width: 520px) {
        $width: 19px;
        width: $width;
        height: $width;
    }
}
