:root {
    // Fonts
    // font-line-height
    --font-family-main: inter, sans-serif;
    --font-line: 134%;

    // xxs
    --font-size-xxs: 1.7rem;
    --font-xxs: var(--font-size-xxs) / var(--font-line) var(--font-family-main);

    // xs
    --font-size-xs: 2rem;
    --font-xs: var(--font-size-xs) / var(--font-line) var(--font-family-main);

    // s
    --font-size-s: 2.1rem;
    --font-s: var(--font-size-s) / var(--font-line) var(--font-family-main);

    // m
    --font-size-m: 2.2rem;
    --font-m: var(--font-size-m) / var(--font-line) var(--font-family-main);

    // l
    --font-size-l: 2.3rem;
    --font-l: var(--font-size-l) / var(--font-line) var(--font-family-main);

    // xl
    --font-size-xl: 3.1rem;
    --font-xl: var(--font-size-xl) / var(--font-line) var(--font-family-main);

    // xxl
    --font-size-xxl: 4.6rem;
    --font-xxl: var(--font-size-xxl) / var(--font-line) var(--font-family-main);
}
