:root {
    // Fonts
    // font-line-height
    --font-family-main: inter, sans-serif;
    --font-line: 134%;

    // xxs
    --font-size-xxs: 17px;
    --font-xxs: var(--font-size-xxs) / var(--font-line) var(--font-family-main);

    // xs
    --font-size-xs: 20px;
    --font-xs: var(--font-size-xs) / var(--font-line) var(--font-family-main);

    // s
    --font-size-s: 21px;
    --font-s: var(--font-size-s) / var(--font-line) var(--font-family-main);

    // m
    --font-size-m: 22px;
    --font-m: var(--font-size-m) / var(--font-line) var(--font-family-main);

    // l
    --font-size-l: 23px;
    --font-l: var(--font-size-l) / var(--font-line) var(--font-family-main);

    // xl
    --font-size-xl: 31px;
    --font-xl: var(--font-size-xl) / var(--font-line) var(--font-family-main);

    // xxl
    --font-size-xxl: 46px;
    --font-xxl: var(--font-size-xxl) / var(--font-line) var(--font-family-main);
}
