.deadlineContainer {
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.deadlineTimer {
    width: 100px;
    padding-right: 10px;

    font-size: 32px;
    font-weight: 600;
    line-height: 133%;
    color: #37a8f3;

    @media (width <= 520px) {
        width: 70px;
        font-size: 22px;
    }
}

.img {
    $width: 28px;

    width: $width;
    height: $width;

    @media (width <= 520px) {
        $width: 20px;

        width: $width;
        height: $width;
    }
}
