.form {
    width: 100%;
    margin: 25px;
    margin-top: 0;
    border-radius: 7.22px;

    background-color: #f5f5f5;

    form {
        padding: 38px 26px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.bottom {
    display: flex;
    gap: 34px;
    align-items: start;
    width: 80%;

    @media (width <= 540px) {
        flex-direction: column;
        gap: 18px;
    }

    @media (width <= 705px) {
        width: 100%;
    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    width: 100%;
}

.label {
    font-size: 20px;
    font-weight: 500;
    line-height: 133.5%;
    color: #010f18;

    opacity: 0.5;

    @media (width <= 520px) {
        font-size: 14px;
    }
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 5px;

    font-weight: 500;

    outline: 1px solid #6fc0f600;

    transition: outline 0.3s ease;
}

.wideSpacing {
    letter-spacing: 0.15em;
}
