.title {
    color: var(--text-redesigned);
}

.text {
    color: var(--text-redesigned);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }

    .text {
        color: var(--accent-redesigned);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

// .size_s {
//     .title {
//         font: var(--font-m-redesigned);
//     }

//     .text {
//         font: var(--font-s-redesigned);
//     }
// }

// .size_m {
//     .title {
//         font: var(--font-l-redesigned);
//     }

//     .text {
//         font: var(--font-m-redesigned);
//     }
// }

// .size_l {
//     .title {
//         font: var(--font-xl-redesigned);
//     }

//     .text {
//         font: var(--font-l-redesigned);
//     }
// }

.size_m {
    .title {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        color: #010f18;
        text-wrap: balance;

        @media (width <= 520px) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .text {
        font-size: 25px;
    }
}

.size_l {
    .title {
        font-size: 32px;
        font-weight: 600;
        line-height: 133%;
        color: #010f18;
        text-wrap: balance;

        &.grow {
            flex-grow: 0.3;
        }

        @media (width <= 520px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .text {
        font-size: 25px;
    }
}

.grow {
    .title {
        flex-grow: 0.3;
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}

// p {
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 133%;
//     color: #010f18;
//     text-wrap: balance;

//     @media (width <= 520px) {
//         font-size: 14px;
//     }
// }

// align-items: baseline;

// // position: absolute;
// font-size: 26px;
// font-weight: 400;
// line-height: 133%; // 61.41px;
// color: #37a8f3;

// @media (width <= 520px) {
//     font-size: 18px;
// }
