// Text colors
.text {
    text-wrap: balance;
}

.textBody {
    .text {
        color: var(--color-text);
    }
}

.primary {
    .text {
        color: var(--color-primary);
    }
}

.primary_light {
    .text {
        color: var(--color-primary-light);
    }
}

.error {
    .text {
        color: var(--color-error);
    }
}

.muted {
    .text {
        color: var(--color-text-neutral-muted);
    }
}

// Text alignment
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

// 17 20 21 22 23 31 46
// Font sizes
.size_xxs {
    .text {
        font: var(--font-xxs);
    }
}

.size_2xs {
    .text {
        font: var(--font-2xs);
    }
}

.size_xs {
    .text {
        font: var(--font-xs);
    }
}

.size_s {
    .text {
        font: var(--font-s);
    }
}

.size_m {
    .text {
        font: var(--font-m);
    }
}

.size_l {
    .text {
        font: var(--font-l);
    }
}

.size_xl {
    .text {
        font: var(--font-xl);
    }
}

.size_xxl {
    .text {
        font: var(--font-xxl);
    }
}

// Font Weights
.regular {
    .text {
        font-weight: 400;
    }
}

.medium {
    .text {
        font-weight: 500;
    }
}

.semiBold {
    .text {
        font-weight: 600;
    }
}

// Additional classes

.grow {
    .text {
        flex-grow: 0.3;
    }
}
