.banksListContainer {
    position: relative;

    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    flex-shrink: 1;

    width: 100%;
    min-height: 326px;
    max-height: 517px;
    margin-bottom: 48px;

    text-align: left;

    &::after {
        pointer-events: none;
        content: "";

        position: absolute;
        bottom: -2px;
        left: 0;

        width: 100%;
        height: 32px;

        background: linear-gradient(180deg, #fff0 0%, #fff 100%);
    }

    @media (width <= 520px) {
        min-height: 228px;
        max-height: 500px;
        margin-bottom: 0;
    }
}

.banksList {
    position: absolute;

    overflow-y: auto;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 228px;
    padding-right: 14px;
    padding-bottom: 20px;

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #d2e8f8;
    }

    &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: #f2f2f2;
    }

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 3px;
        background-color: #f2f2f2;
    }

    p {
        font-size: 20px;

        @media (width <= 650px) {
            font-size: 16px;
        }

        @media (width <= 520px) {
            font-size: 14px;
        }
    }

    p.center {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    p.empty {
        opacity: 0.5;
    }

    .method-button {
        cursor: pointer;
        user-select: none;

        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        padding: 30px;
        border-radius: 5px;

        background-color: #f5f5f5;

        .left {
            display: inline-flex;
            flex-grow: 1;
            flex-wrap: nowrap;
            gap: 12px;
            align-items: center;

            img {
                $size: 27px;

                width: $size;
                height: $size;

                @media (width <= 520px) {
                    $width: 19px;

                    width: $width;
                    height: $width;
                }
            }
        }

        &.active {
            background-color: #d7d7d7;
        }

        @media (width <= 520px) {
            padding: 20px;
        }
    }

    @media (width <= 520px) {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 10px 20px 17px;
    }
}

.payMethod {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 15px;
    margin-bottom: 24px;

    @media (width <= 520px) {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.h2 {
    margin-bottom: 12px;

    @media (width <= 520px) {
        margin-bottom: 8px;
    }
}
