.banks_list_container {
    display: flex;
    flex-direction: column;

    position: relative;
    text-align: left;
    width: 100%;
    min-height: 326px;
    max-height: 517px;
    margin-bottom: 48px;

    flex-grow: 0.5;
    flex-shrink: 1;
    overflow-y: hidden;

    @media (max-width: 520px) {
        min-height: 228px;
        max-height: 500px;
        margin-bottom: 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 32px;
        background: linear-gradient(180deg, #ffffff00 0%, #ffffff 100%);
        pointer-events: none;
    }
}

.banks_list {
    display: flex;
    flex-direction: column;
    padding-right: 14px;
    padding-bottom: 20px;
    min-height: 228px;
    overflow-y: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 520px) {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 10px 20px 17px;
    }

    p {
        font-size: 20px;

        @media (max-width: 650px) {
            font-size: 16px;
        }

        @media (max-width: 520px) {
            font-size: 14px;
        }
    }

    p.center {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    p.empty {
        opacity: 0.5;
    }

    .method-button {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        background-color: #f5f5f5;

        padding: 30px;
        border-radius: 5px;

        cursor: pointer;
        align-items: center;
        user-select: none;

        @media (max-width: 520px) {
            padding: 20px;
        }

        .left {
            display: inline-flex;
            flex-wrap: nowrap;
            flex-grow: 1;
            gap: 12px;
            align-items: center;

            img {
                $size: 27px;
                width: $size;
                height: $size;
            }
        }

        &.active {
            background-color: #d7d7d7;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d2e8f8;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 3px;
    }

    &::-webkit-scrollbar {
        background-color: #f2f2f2;
        width: 5px;
        border-radius: 3px;
    }
}
