.dialog {
    cursor: auto;

    z-index: 1000;
    translate: 0 50px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    max-width: 480px;
    padding: 35px;
    padding-bottom: 45px;
    border-radius: 5px;

    opacity: 0;
    background: white;

    transition:
        translate 0.5s ease,
        opacity 0.3s ease;

    // TODO: Redundant, should remove it
    & > img {
        user-select: none;

        align-self: center;

        width: 186px;
        margin-bottom: 10px;

        -webkit-user-drag: none;

        @media (width <= 520px) {
            width: 134px;
        }
    }

    @media (width <= 520px) {
        padding: 24px;
    }
}

.alertTriangle {
    user-select: none;

    align-self: center;

    width: 186px;
    margin-bottom: 10px;

    -webkit-user-drag: none;

    @media (width <= 520px) {
        width: 134px;
    }
}

.overlay {
    pointer-events: none;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    place-content: center center;

    box-sizing: border-box;
    height: 100vh;
    padding: 15px;

    opacity: 0;
    background: #00173380;
    backdrop-filter: blur(30px);

    transition: opacity 0.5s ease;
}

.overlayActive {
    pointer-events: all;
    opacity: 1;

    .dialog {
        translate: 0;
        opacity: 1;
        transition:
            translate 0.5s ease 0.2s,
            opacity 0.3s ease 0.2s;
    }
}

.payoutDialog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 65px;
    justify-content: space-between;

    text-align: left;

    @media (width <= 520px) {
        gap: 65px;
    }
}

.payoutDialogBlock {
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: end;

    .languageSelector {
        align-self: end;
    }
}

.cardNumber {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #37a8f3;

    @media (width <= 520px) {
        font-size: 22px;
        line-height: 29px;
    }
}

.text {
    /* font-size: 30px;
    line-height: 40px; */
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;

    @media (width <= 520px) {
        /* font-size: 16px;
        line-height: 21px; */
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
    }
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
    gap: 31px;

    @media (width <= 520px) {
        gap: 31px;
    }
}

.buttonsSubmit {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;

    @media (width <= 520px) {
        gap: 10px;
    }
}

.button {
    flex-grow: 1;
}

.cancelButton {
    flex-grow: 1;
    width: 100%;
}
