.cardNumberContainer {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
    width: 100%;
    margin: 40px 0 80px;
    padding: 14px;
    border-radius: 7.22px;

    background-color: #f5f5f5;

    @media (width <= 520px) {
        flex-wrap: wrap;
        gap: 8px;
        padding: 10px 5px;
    }
}

.p {
    white-space: nowrap;
    opacity: 0.5;
}

.inputs {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 7px;
}

.input {
    width: 100%;
    max-width: 55px;
    padding: 0;
    border: 1.44px solid transparent;
    border-radius: 5px;

    font-size: 42px;
    color: #37a8f3;
    text-align: center;

    appearance: none;

    &:focus {
        border: 1.44px solid #6fc0f6;
    }

    @media (width <= 520px) {
        width: 38px;
        padding: 1px 0;
        font-size: 27px;
    }
}
