.form {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 600px;

    background-color: hsl(0deg 0% 96% / 100%);
}

.item {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 600px;
    padding: 38px 26px;
}

.input {
    width: min(100%, 520px);
    height: 85px;
    padding: 0 14px;
    border-radius: 5px;

    @media (width <= 520px) {
        height: 65px;
    }
}

.label {
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 500;
    line-height: 134%;
    color: hsl(203deg 92% 5% / 100%);
    text-align: left;
    letter-spacing: 0%;

    opacity: 0.5;
}

.helperText {
    font-size: 11px;
    color: red;
    text-align: left;
    opacity: 0.5;
}
