.file_picker_container {
    display: flex;
    padding: 0 34px;
    margin-bottom: 12px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
.container_selected {
    justify-content: center;
}

.file_picker_button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: hsla(203, 92%, 5%, 1);
    opacity: 0.35;
    cursor: pointer;
    min-width: 120px;
    line-height: 134%;
    font-weight: 400;
    font-family: Inter;
}

.file_picker_icons {
    min-width: 26px;
    min-height: 26px;
}

.icon_box {
    display: flex;
    align-items: center;
    gap: 12.5px;
}

.file_name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    color: hsla(203, 92%, 5%, 1);
    font-size: 16px;
}
