.file_picker_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 12px;
    padding: 0 34px;
}

.container_selected {
    justify-content: center;
}

.file_picker_button {
    cursor: pointer;

    min-width: 120px;
    border: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 134%;
    color: hsl(203deg 92% 5% / 100%);

    opacity: 0.35;
    outline: none;
}

.file_picker_icons {
    min-width: 26px;
    min-height: 26px;
}

.icon_box {
    display: flex;
    gap: 12.5px;
    align-items: center;
}

.file_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;

    font-size: 16px;
    color: hsl(203deg 92% 5% / 100%);
    text-overflow: ellipsis;
    word-break: break-all;
}
